@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>PixieHollow is India's largest platform for fashion and lifestyle for men, women, and kids. The latest collections of apparel, footwear and accessories, featuring the best brands are now available at your fingertips. We are committed to delivering the best personalised shopping experience imaginable. </p>
