@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Gachibowli<br />
    Hyderabad, India 95602-60642<br />
    <abbr title="Phone">Email</abbr>
    vermadivya1802@gmail.com
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@pixiehollow.com">Support@pixiehollow.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@pixiehollow.com">Marketing@pixiehollow.com</a>
</address>