@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Shop till you drop</h1>
    <p class="lead">Explore an exquisite range of branded clothes, shoes, jewellery, beauty products and accessories.
    Save or splurge, we've got a little bling for every budget and every style.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>HIM</h2>
        <p>
            Increase your style quotient with our top-notch products.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>HER</h2>
        <p>Increase your style quotient with our top-notch products.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>KIDS</h2>
        <p>Increase your style quotient with our top-notch products.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>